body {
    margin: 0;
    padding: 0;
    /* background-color: #f5f5f5; /* Fond blanc cassé */
    font-family: Arial, sans-serif;

    background-image: url('medoc.jpg'); /* Utilisation de la syntaxe 'url()' */
    background-size: cover; /* Pour que l'image couvre toute la page */
    background-position: center; /* Pour centrer l'image */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    text-decoration: none;
    color: white;
}

.circle:hover {
    opacity: 0.8;
}

.moi {
    width: 30%;
    height: 40%;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.experience {
    width: 30%;
    height: 40%;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.actu {
    width: 30%;
    height: 40%;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
